body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 2em;
}

main {
  display: flex;
  justify-content: space-around;
  margin-left: 1em;
  background-color: lightblue;
}

nav {
  background-color: lightblue;
}

.card {
  background-color: lightcyan;
}

.list {
  background-color: lightsteelblue;
  padding: 0 1em;
}
